# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js
**/.yarn/

# Next.js specific
**/.next/
**/.swc/
**/.turbo
**/out/
**/.vercel
**/*.tsbuildinfo
**/next-env.d.ts

# Build outputs
**/dist/
**/build/

# Environment files
**/.env*
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# System files
**/.DS_Store
**/*.pem

# IDE
**/.idea/
**/.vscode/

# Database
**/*.db
**/*.sqlite

# Binary files
**/*.node 